body{
    background-image: url("preview.jpg");
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    margin-bottom: 15px;
    float: right;
}
.media-object{
    height: 55px;
    width: 55px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}